@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');



html, body {
    font-family: 'Gowun Dodum', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #f7f7f7;
}

#head {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-bottom: 1px solid #c2c2c2;
    z-index: 10;
}

#head > img {
    width: 200px;
    height: auto;
}

#nein {
    position: fixed;
    width: 100%;
    background-color: #f7f7f7;
    height: calc(100vh - 180px);
    margin-top: 93px;
    padding-top: 16px;
    padding-bottom: 0px;
    overflow: auto;
    font-size: 15px;
}

#nein > button:active{
    background-color: #483d8b;
    color: white;
}

#send {
    position: fixed;
    display: flex;
    background-color: #f2f2f2;
    height: 70px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #c2c2c2;
}

#typer {
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    margin-top: 15px;
    border: none;
    border-radius: 20px;
    background-color: #fdfdfd;
    padding-left: 15px;
    font-size: 15px;
    transition: all .2s linear;
    color: black;
    font-family: 'Gowun Dodum', sans-serif;
}

#typer::placeholder {
    font-size: 15px;
}

#typer:disabled {
    background-color: #bd8aff;
}

#typer:disabled::placeholder {
    font-family: 'Gowun Dodum', sans-serif;
    color: white;
    font-size: 15px;
}

#sendBtn {
    display: flex;
    margin-top: 15px;
    width: calc(17.5% - 30px);
    height: 40px;
    border-radius: 20px;
    color: white;
    /*background-image: linear-gradient(#ffffff, #ffffff),
    linear-gradient(-120deg,#483d8b, #bd8aff);
    border: 3px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;*/
    border: none;
    background: linear-gradient(-120deg,#483d8b, #bd8aff);
    text-align: center;
    color: black;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

#sendBtn > img {
    margin-top: -4px;
    width: 40px;
    height: 40px;
    transform: rotate(-30deg);
}

#nextBtn {
    position: absolute;
    display: flex;
    width: calc(17.5%);
    height: 40px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(-120deg,#483d8b, #61329c);
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    right:0;
    font-size: 15px;
}