@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@keyframes fadeFloat {
    0% {
        opacity: 0;
    }
    100% {
        transform: translateY(-40px);
        opacity: 1;
    }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url("./test.png");
    background-repeat: repeat-x;
}

#header {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    margin: 0;
    font-family: 'Gasoek One', sans-serif;
    font-weight: lighter;
    height: 700px;
}

#header > img {
    opacity: 0;
    width: 500px;
    animation-name: fadeFloat;
    animation-duration: 0.25s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    margin-top: -10px;
}

#mainText {
    opacity: 0;
    font-size: 50px;
    width: 100%;
    margin-top: 80px;
    animation-name: fadeFloat;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    margin-bottom: -20px;
}

#name {
    font-size: 35px;
    width: 100%;
    opacity: 0;
    width: 500px;
    animation-name: fadeFloat;
    animation-duration: 0.25s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    margin-top: -10px; 
}

#scoreText {
    font-size: 25px;
    width: 100%;
    opacity: 0;
    width: 500px;
    animation-name: fadeFloat;
    animation-duration: 0.25s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    margin-top: -10px;
}

#addOn {
    margin-top: 750px;
    position: absolute;
    width: 100%;
    font-family: 'Black Han Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

#addOn > div {
    width: 100%;
    height: auto;
    color: white;
    font-size: 20px;
    background-color: darkslateblue;
    border: 1px solid goldenrod;
    opacity: 0;
    animation-name: fadeFloat;
    animation-duration: 0.25s;
    animation-delay: 1.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    padding-left: 5px;
}